.homepage-toolbar {
    display: flex;
    width: 100%;
}

.homepage-toolbar p {
    width: max-content;
    color: var(--accent);
    font-size: 18px;
    cursor: pointer;
}

.homepage-toolbar .new-message {
    margin-left: auto;
}
.homepage-toolbar .edit-list {
    margin-right: auto;
}
.homepage-toolbar-settings {
    margin-top: 25px;
}