.homepage-message-content-container {
    width: 100%;
    margin-left: 10px;
}
.homepage-message-content {
    font-weight: 400;
    color: var(--foreground-0);
    opacity: 0.7;
    margin: 0;
    font-size: 16px;
    margin-top: 4px;
    width: max-content;
}