.message {
    border-radius: 18px;
    padding: 6px 12px;
    font-family: 'SF Pro', sans-serif;
    max-width: 60vw;
    width: max-content;
    margin: 6px 12px;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    opacity: 0;
    transition-duration: 0.5s;
    display: block;
}

.message-media {
    background-color: transparent;
    padding: 0;
}

.message-sender {
    transform: translateX(100%);
    background-color: var(--accent);
    color: var(--light-0);
    margin-left: auto;
}

.message-recipient {
    transform: translateX(-100%);
    background-color: var(--recipient);
    color: var(--foreground-0);
    margin-right: auto;
}

.message-visible,
.message-clone {
    transform: translateX(0%);
    opacity: 1;
}

.message-clone {
    z-index: 10;
    position: absolute;
    pointer-events: none;
}

.message-content-partial {
    margin: 0px;
}
.message-content-subject {
    font-weight: 500;
}
