.message-receipt {
    margin-bottom: 0px;
    margin-right: 14px;
    margin-left: 14px;
    font-size: 12px;
    font-weight: 400;
    color: var(--foreground-1);
    margin-top: -2px;
    text-align: right;
    font-family: 'SF Pro', sans-serif;
    opacity: 0;
    transition-duration: 0.5s;
}

.message-receipt-visible {
    opacity: 1;
}

.message-receipt span {
    font-weight: 600;
}

.message-receipt span.message-receipt-time {
    font-weight: 400;
    margin-left: 3px;
}