.message-tail {
    position: absolute;
    z-index: -1;
    bottom: -5px;
}

.message-sender-tail {
    transform: scaleX(-100%);
    right: -5px;
}

.message-recipient-tail {
    left: -5px;
}

.message-sender-tail svg path {
    fill: var(--accent);
}

.message-recipient-tail svg path {
    fill: var(--recipient);
}