.page-view {
    position: absolute;
    left: 0;
    background-color: var(--background-0);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition-duration: 0.3s;
    filter: blur(0px);
    border-radius: 0px;
}
.page-view-fallback {
    transform: scale(90%);
    pointer-events: none;
    border-radius: 30px;
}
#page0.page-view-fallback {
    filter: blur(10px);
}
#page1.page-view-fallback {
    filter: brightness(50%);
}

.page-view-popup {
    background-color: var(--settings-bg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    border-radius: 50px;
    transition-timing-function: cubic-bezier(0, 0.7, 0.3, 1);
}

.page-view-handle {
    margin: 12px auto;
    background-color: var(--foreground-1);
    width: 12vw;
    height: 6px;
    border-radius: 3px;
    cursor: pointer;
}

.page-view-popup-hidden {
    background-color: transparent;
    transform: translateY(100vh);
}

#page0.tab-visible {
    left: 0vw;
}
#page0.tab-hidden {
    left: -100vw;
}
#page1.tab-visible {
    left: 0vw;
}
#page1.tab-hidden {
    left: 100vw;
}