.reaction-popup {
    position: absolute;
    width: 80vw;
    height: 56px;
    background-color: var(--recipient);
    border-radius: 100px;
    display: flex;
    z-index: 10;
    opacity: 0;
    transition-duration: 0.5s;
    pointer-events: none;
}
.reaction-popup-visible {
    opacity: 1;
    pointer-events: all;
}
.reaction-popup span {
    color: var(--foreground-1);
    font-size: 28px;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
    aspect-ratio: 1/1;
    border-radius: 25px;
    transition-duration: 0.25s;
    cursor: pointer;
    font-weight: 900;
}
.reaction-popup span:hover,
.reaction-popup .reaction-popup-selected {
    color: white;
    background-color: var(--accent);
}

.popup-orb-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup-orb-container-inner {
    position: relative;
}
.popup-orb {
    border-radius: 100px;
    position: absolute;
    background-color: var(--recipient);
}
.popup-orb-1 {
    height: 20px;
    width: 20px;
}
.popup-orb-2 {
    height: 10px;
    width: 10px;
}
.message-orb-container-recipient .popup-orb-1 {
    bottom: -10px;
}
.message-orb-container-sender .popup-orb-1 {
    bottom: -10px;
}
.message-orb-container-recipient .popup-orb-2 {
    bottom: -20px
}
.message-orb-container-sender .popup-orb-2 {  
    bottom: -20px;
}
