.reaction-popup {
    position: absolute;
    width: 80vw;
    height: 56px;
    background-color: var(--recipient);
    border-radius: 100px;
    display: flex;
    z-index: 10;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition-duration: 0.5s;
    pointer-events: none;
}
.reaction-popup-visible {
    opacity: 1;
    pointer-events: all;
}
.reaction-popup span {
    color: var(--foreground-1);
    font-size: 28px;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
    aspect-ratio: 1/1;
    border-radius: 25px;
    transition-duration: 0.25s;
    cursor: pointer;
    font-weight: bolder;
}
.reaction-popup span:hover, .reaction-popup .reaction-popup-selected {
    color: white;
    background-color: var(--accent);
}
