#send-toolbar {
    background-color: var(--background-0);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    height: max-content;
}

#send-toolbar-inner {
    width: max-content;
    margin-left: auto;
}

#send-inputs-container {
    display: inline-grid;
    background: var(--foreground-2);
    border-radius: 18px;
    margin: 10px;
    border: 1px solid var(--foreground-2);
}

input.message-input-subject {
    border-bottom: 1px solid var(--foreground-2);
    font-weight: 500;
}

.message-input,
.message-input:active,
.message-input:focus {
    border: none;
    outline: 0;
    background: none;
    font-size: 18px;
    padding: 6px 10px;
    width: calc(100vw - 20px - 20px);
}
