.unread-message-marker {
    width: 10vw;
    height: 75px;
}
.unread-message-marker-inner {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: var(--accent);
    margin-left: calc(10vw / 2 - 7.5px);
    margin-top: calc(75px / 2 - 7.5px);
    transform: scale(90%);
}
